{{!-- <form action="/artist-search" method="GET">
  <input type="text" name="artist" placeholder="Enter artist's name" />
  <button type="submit">Search</button>
</form>

<!-- Inside artist-search-result.hbs -->
<h1>Search Results for {{artistName}}</h1>
<!-- Add more to display actual search results -->


<!-- Inside artist-search-results.hbs -->
<h1>Artist Search Results</h1>
{{#each artists}}
  <div>
    <h2>{{this.name}}</h2>
    <!-- You can add more artist details here -->
  </div>
{{/each}} --}}


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Lab Express Spotify</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>